::selection {
	background-color: gold;
	color: black;
}

:focus {
	outline: 3px solid gold;
	padding: 0.25em;
}

body {
	font-size: 1.25em;
	font-family: sans-serif;
	background-color: gainsboro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(230, 107, 107);
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	padding-top: 0.75em;
}

aside {
	padding-top: 0.75em;
	font-size: 0.75em;
}

header,
footer,
main {
	max-width: 46em;
	margin: 0 auto;
	display: block;
	padding: 1em;
}

header,
footer {
	background-color: rgb(45, 13, 13);
	color: white;
}

header a,
footer a {
	color: white;
	text-decoration: underline;
}

header section,
footer section {
	margin: 1em;
}

main {
	background-color: rgb(253, 238, 238);
}

main ul,
main ol {
	padding-top: 0.5em;
	padding-bottom: 1.75em;
}

main h3:first-of-type {
	border-top: none;
}

main h3 {
	border-top: 2px solid rgb(168, 79, 79);
}
